<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @thermostat_model.name %>
</p>

<%= link_to 'Edit', edit_thermostat_model_path(@thermostat_model) %> |
<%= link_to 'Back', thermostat_models_path %>
